<p>fxdetails works!</p>

<div class="front">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text" style="color :white; font-weight:bold"> Trading books are subject to gains and losses that affect the financial institution directly.</p>
          <a routerLink="/book" class="btn btn-success">BookTrade</a>
        </div>
      </div>
    
    
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text" style="color: white; font-weight:bold">Trading Print shows the records which are already Booked.</p>
          <a routerLink="/print" class="btn btn-info">PrintTrade</a>
        </div>
      </div>
    
    
      
          <button routerLink="/exit" class="btn btn-dark" style="font-weight: bold;">Exit</button>
    </div>  