<p>home works!</p>
<div class ="panel" >
    <p style="font-weight: bold; background-color:skyblue; padding: 30px; ">
     FX Trading</p>                
  </div>
   <div class="conatiner"> 
  
     <div class="row">
      <div class="col"> 
  
        <div class="loginform">
           
            <button  class="container1" 
             routerLink = "/booking"
             style="cursor: pointer"> 
              Book
            </button>
  
            <br> <br>
            <button class="container1" 
            routerLink = "/printing"
            style="cursor: pointer;"> 
            Print
            </button>
           </div>
        </div> 
    </div> 
   </div> 
  
       